.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2d44;
    padding: 20px 40px;
    color: white;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-brand p {
    margin: 0;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}


.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #748cab;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #748cab;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link.active {
    background-color: #748cab;
    color: white;
}

.navbar-brand span {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.nav li {
  display: inline;
  margin-right: 20px;
}
.navbar-brand span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #748cab;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar-brand:hover span::after {
  transform: scaleX(1);
  transform-origin: left;
}